.ScheduleContainer{
    position: relative;
}

.LocationsContainer, .DaysContainer, .GridHeader{
    background-color: #ffffff;
    display: inline-flex;
    margin: 0;
    padding: 0.25rem;
    padding-left: 0.5rem;
}

.LocationRow, .HeaderRow{
    border: 1px solid #F5F5F5;
}

.HeaderRow, .GridHeader{
    z-index: 3;
}

.LocationsContainer{
    background-color: #F5F5F5;
    padding: 0.25rem;
    padding-left: 0.5rem;
    vertical-align: middle;
}

.ScheduleDay, .headerDay{
    list-style-type: none;
    padding-left: 0;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    position: relative;    
}

.DaysContainer{
    padding: 0;    
}

.DaysContainer .ScheduleDay:nth-child(even){
    background-color: #F5F5F5;
}

.EventDetailContainer{
    position: absolute;
    z-index: 1;
}

.EventDetail{    
    background-color: #6495ED;
    height: 3rem;
    padding-left: 0.5rem;
    border-radius: 5px;
    width: 100%;
    z-index: 2;
    position: absolute;
    cursor: grab;
}

.EventDetail:hover{
    background-color: #6495ED50;
}

.EventDetail p{
    user-select: none;
}

.daysContextMenu{
    position: absolute;
    z-index: 3;
}

.daysContextMenu button{
    padding: 0;
    overflow: hidden;
}

.daysContextMenu button:hover{
    background-color: #6495ED;
    color: #ffffff;
}

.contextSpan{
    font-size: 0.7rem;
    white-space: nowrap;
    margin: 0.25rem 0.5rem;
}

.EmptyRow{
    border-top: none;
}

.noBottomBorder{
    border-bottom: none;
}

.redBorder{
    border: 1px solid red;
}

.blueBorder{
    border: 1px solid blue;
}

.DropablePoint{
    background-color: lightgreen !important;
}

.DropableGoblin{
    background-image: url('https://www.meme-arsenal.com/memes/13ef4ecb4e4cc76ecf441a6826511f2c.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.OldDropableGoblin{
    background-image: url('https://www.meme-arsenal.com/memes/2a963bfd251ad05f16f827fa972498b8.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.movedEvent{
    background-color: red;
    z-index: 1000;
    cursor: grabbing;
}

.movedEvent:hover{
    background-color: red;
}

.OldDropablePoint{
    background-color: coral;
}

.todayLine{
    border-left: 2px dashed red;
    height: 100%;
    position: absolute;
    margin-left: -1px;
    top: 0;
    opacity: .5;
    z-index: 2;
}

.never{
    background-image: url('https://media.tenor.com/o656qFKDzeUAAAAC/rick-astley-never-gonna-give-you-up.gif');
    background-size: repeat;
    background-position: center;
}